package iomapper;

public interface ${clazz.name}Dao {

    void saveOrUpdate(${clazz.name} ${clazz.lowercaseName});

    ${clazz.name} get(Long id);

    List<${clazz.name}> list();
    #foreach($attribute in $clazz.attributes)
    List<${clazz.name}> listBy${attribute.clazz}(${attribute.clazz} ${attribute.name});
    #end

}